@using Bridge.Services
@inject ProjectSettingsService SettingsService

@page "/verbs/fs/export_micrographs"

<VerbBase Title="Export micrographs" ReferencePath="frame_series/#fs_export_micrographs" @bind-SettingsFile=Params.Settings SettingsType="@(SettingsType)" ComposedCommand="@(CurrentCommand())">

    <ArgumentsContent>
        <FluentTabs Style="margin-bottom: 16px" Orientation="Orientation.Horizontal" Size="TabSize.Large">
            <div slot="end">
                <NerdSwitch />
            </div>

            <FluentTab Label="Output">
                <div class="verb-args-tab">
                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">

                        <FluentCheckbox @bind-Value=Params.OutAverage Immediate="true"><label>Export aligned averages</label></FluentCheckbox>

                        <FluentCheckbox @bind-Value=Params.OutHalves Immediate="true"><label>Export aligned half-averages for denoiser training</label></FluentCheckbox>

                        <NerdContainer>
                            <LabeledField Label="Skip first N frames">
                                <FluentNumberField @bind-Value=Params.SkipFirst Step="1" Min="0" Max="9999" Immediate="true" Size="1" />
                            </LabeledField>

                            <LabeledField Label="Skip last N frames">
                                <FluentNumberField @bind-Value=Params.SkipLast Step="1" Min="0" Max="9999" Immediate="true" Size="1" />
                            </LabeledField>
                        </NerdContainer>

                    </FluentStack>
                </div>
            </FluentTab>

            <WorkDistributionTab @bind-Parameters=Params.WorkDistributionTabParams />

            <AdvancedIOTab @bind-Parameters=Params.AdvancedIOTabParams />

        </FluentTabs>
    </ArgumentsContent>

</VerbBase>

@code {
    [Inject]
    protected NerdyService NerdyService { get; set; }

    readonly SettingsType SettingsType = SettingsType.FrameSeries;
    readonly string VerbName = "wt_fs_export_micrographs";
    VerbCommand Command = new("WarpTools fs_export_micrographs");

    class CommandParams
    {
        public string Settings { get; set; } = "";

        public bool OutAverage { get; set; } = true;
        public bool OutHalves { get; set; } = false;

        public int SkipFirst { get; set; } = 0;
        public int SkipLast { get; set; } = 0;

        public WorkDistributionTabParams WorkDistributionTabParams { get; set; } = new();
        public AdvancedIOTabParams AdvancedIOTabParams { get; set; } = new();
    }
    CommandParams Params = new();

    VerbCommand CurrentCommand()
    {
        SettingsService.SaveVerbSettings(VerbName, Params);

        Command.Arguments.Clear();

        if (!string.IsNullOrWhiteSpace(Params.Settings))
            Command.AddArgument($"--settings {Params.Settings}");
        else
            Command.AddArgument($"--settings {SettingsService.GetSettingsName(SettingsType)}");

        if (Params.OutAverage)
            Command.AddArgument("--averages");
        if (Params.OutHalves)
            Command.AddArgument("--average_halves");

        if (Params.SkipFirst > 0)
            Command.AddArgument($"--skip_first {Params.SkipFirst}");
        if (Params.SkipLast > 0)
            Command.AddArgument($"--skip_last {Params.SkipLast}");

        Params.WorkDistributionTabParams.PopulateArguments(Command);

        Params.AdvancedIOTabParams.PopulateArguments(Command);

        return Command;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        CommandParams Loaded = SettingsService.LoadVerbSettings<CommandParams>(VerbName);
        if (Loaded != null)
            Params = Loaded;
    }
}
