
<div>
    @ChildContent
    @if (IsError)
    {
        <span style="color: #f00">@Message</span>
    }
</div>

@code {

    [Parameter]
    public bool IsError { get; set; } = false;

    [Parameter]
    public string Message { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
