<div>
    <label style="font-weight: 500">@Label</label>
    <div>
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
