<div class="navmenu">
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="false" Width="300" Title="Verbs" CustomToggle="false">
            <FluentNavGroup Title="General" Expanded="true">
                <FluentNavLink Href="/verbs/general/threshold_picks" Match="NavLinkMatch.All">Threshold particle picks</FluentNavLink>
                <FluentNavLink Href="/verbs/general/filter_quality" Match="NavLinkMatch.All">Check/filter quality</FluentNavLink>
                <FluentNavLink Href="/verbs/general/change_selection" Match="NavLinkMatch.All">Change selection flag</FluentNavLink>
                <FluentNavLink Href="/verbs/general/move_data" Match="NavLinkMatch.All">Move data</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Title="Frame series" Expanded="true">
                <FluentNavLink Href="/verbs/fs/motion" Match="NavLinkMatch.All">Correct motion</FluentNavLink>
                <FluentNavLink Href="/verbs/fs/ctf" Match="NavLinkMatch.All">Estimate CTF</FluentNavLink>
                <FluentNavLink Href="/verbs/fs/motion_and_ctf" Match="NavLinkMatch.All">Motion & CTF together</FluentNavLink>
                <FluentNavLink Href="/verbs/fs/export_micrographs" Match="NavLinkMatch.All">Export micrographs</FluentNavLink>
                <FluentNavGroup Title="Particle picking">
                    <FluentNavLink Href="/verbs/fs/boxnet_train" Match="NavLinkMatch.All">Train BoxNet</FluentNavLink>
                    <FluentNavLink Href="/verbs/fs/boxnet_infer" Match="NavLinkMatch.All">Pick with BoxNet</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Href="/verbs/fs/export_particles" Match="NavLinkMatch.All">Export particles</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Title="Tilt series" Expanded="true">
                <FluentNavLink Href="/verbs/ts/import" Match="NavLinkMatch.All">Import from MDOCs</FluentNavLink>
                <FluentNavGroup Title="Reference-free alignment">
                    <FluentNavLink Href="/verbs/ts/aretomo" Match="NavLinkMatch.All">AreTomo</FluentNavLink>
                    <FluentNavLink Href="/verbs/ts/etomo_fiducials" Match="NavLinkMatch.All">etomo – fiducials</FluentNavLink>
                    <FluentNavLink Href="/verbs/ts/etomo_patches" Match="NavLinkMatch.All">etomo – patch tracking</FluentNavLink>
                    <FluentNavLink Href="/verbs/ts/stack" Match="NavLinkMatch.All">Create tilt stacks</FluentNavLink>
                    <FluentNavLink Href="/verbs/ts/import_alignments" Match="NavLinkMatch.All">Import alignments</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Href="/verbs/ts/ctf" Match="NavLinkMatch.All">Estimate CTF</FluentNavLink>
                <FluentNavLink Href="/verbs/ts/defocus_hand" Match="NavLinkMatch.All">Check defocus hand</FluentNavLink>
                <FluentNavLink Href="/verbs/ts/reconstruct" Match="NavLinkMatch.All">Reconstruct tomograms</FluentNavLink>
                <FluentNavLink Href="/verbs/ts/template_match" Match="NavLinkMatch.All">Template matching</FluentNavLink>
                <FluentNavLink Href="/verbs/ts/export_particles" Match="NavLinkMatch.All">Export particles</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {

}
